     body {
            background-color: #f4f7f6; /* Gris muy claro, casi blanco */
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        /*PARA EL LOGIN*/
        .login-card {
            background-color: #ffffff;
            border-top: 5px solid #28a745; /* Línea verde "césped" arriba */
            border-radius: 10px;
            box-shadow: 0 10px 25px rgba(0,0,0,0.1);
        }
        .btn-futbol {
            background-color: #28a745; /* Verde oficial */
            border: none;
            color: white;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: 0.3s;
        }
        .btn-futbol:hover {
            background-color: #218838; /* Verde más oscuro al pasar el mouse */
            box-shadow: 0 4px 12px rgba(40, 167, 69, 0.3);
        }
        .form-label {
            color: #495057;
            font-weight: 500;
        }
        .form-control:focus {
            border-color: #28a745;
            box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25);
        }